@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, hr {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

/* =Structure
-------------------------------------------------------------- */

body > * {
    clear: both;
    margin: 0 auto;
}

body > header {
    border-bottom: 4px solid #ddd;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    position: relative;
}
body > footer {
    border-top: 4px solid #ddd;
    margin-top: 20px;
    padding: 10px 0;
}

/* =Global Elements
-------------------------------------------------------------- */

body {
    background-color: #eeeeee;
    color: #333;
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 20px;
    overflow-y: scroll !important;
    text-rendering: optimizelegibility;
}
header, footer, nav, section, article {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding: 0 0 20px 0;
}
h1 {
    font-size: 48px;
    letter-spacing: -1px;
}
h2 {
    font-size: 24px;
    letter-spacing: -1px;
}
h3 {
    font-size: 20px;
    letter-spacing: -1px;
}
h4, h5, h6 {
    font-size: 16px;
}
p {
    margin: 0 0 20px 0;
    padding: 0;
}
a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}
a img {
    border: 0;
}
.post-meta a {
	color: #bbb;
}
ul {
    margin: 0 0 20px 0;
    padding-left: 40px;
}
blockquote {
    border-left: 4px solid #ddd;
    color: #666;
    font-style: italic;
    margin: 0 40px;
    padding-left: 8px;
}

pre {
	overflow: auto;
}

/* =Header
-------------------------------------------------------------- */

body > header > h1 {
    margin: 0;
    padding: 0;
}
body > header > h1 a {
    color: #b83000;
}
body > header > h1 a:hover {
    color: #333;
}
body > header > p {
    color: #999;
    font-size: 13px;
    font-style: italic;
    margin: 0 0 0 15px;
}
body > header > nav {
    bottom: 48px;
    color: #666;
    font-weight: bold;
    position: absolute;
    right: 34px;
}
body > header > nav > a {
    display: inline-block;
    margin: 0 6px;
}
#subscribe-link {
    background: url('/resources/default.png') no-repeat left 2px;
    color: #c60;
    padding-left: 20px;
}

/* =Content
-------------------------------------------------------------- */

#page {
    width: 714px;
    backgournd-color: white;
}

.post {
    margin-bottom: 50px;
}

.post .post-panel {
	background: white;
	-webkit-box-shadow: 0 0 2px 1px #ccc;
	-moz-box-shadow: 0 0 2px 1px #ccc; 
	box-shadow: 0 0 2px 1px #ccc; 
	position: relative;
	z-index: 3;
}

.post .post-meta {
	padding: 10px 0 20px 0;
	margin: 0 30px;
	position: relative;
}

.post .post-content {
	padding-top: 30px; margin: 0 30px; clear: both; word-wrap: break-word;
}

.post-meta #reply {
	float:right;
}

#breadcrumbs {
    color: #999;
    font-size: 13px;
    margin-top: -10px;
}

/* Blog posts */

article {
    clear: both;
    margin-bottom: 20px;
}
article > header {
    border-bottom: 1px solid #ddd;
    color: #999;
    font-size: 13px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
article > header > h2 {
    color: #333;
    margin: 0 0 5px 0;
    padding: 0;
}
article > header > h2 > a {
    color: #333 !important;
}
article img {
    display: block;
    margin: 10px auto;
}
article > footer {
    margin-top: 20px;
}
article > footer > p, article > footer > span {
    color: #999;
    font-size: 13px;
}
#like-and-subscribe {
    display: inline-block;
    float: right;
    margin-top: 4px;
}

/* Image borders */

img {
	border: 1px solid #e0e0e0;
	padding: 4px;
}

/* Share buttons at the bottom of each blog post */

#share-buttons {
    display: inline-block;
    height: 20px;
    margin: 0 0 20px 0;
    padding: 0;
}
#share-buttons-label {
    display: inline-block;
    margin-right: 8px;
    vertical-align: 4px;
}
iframe.twitter-share-button {
    margin-right: 10px;
}
iframe.facebook-like-button {
    border: 0;
    height: 20px;
    margin-right: 9px;
    overflow: hidden;
    width: 50px;
}
span.IN-widget {
    margin-right: 10px;
}
iframe.twitter-follow-button {
    display: block;
    margin-top: 5px;
}


/* Post and project lists */

#related-posts {
    color: #333;
    font-size: 14px;
}
#related-posts h3 {
    padding-bottom: 10px;
}
#related-posts ul {
    padding-left: 40px;
}
#related-posts li > span {
    color: #999;
    font-size: 12px;
    margin-left: .4em;
    white-space: nowrap;
}
ul.post-list {
    font-size: 16px;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
ul.post-list > li {
    border-bottom: 1px solid #ddd;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}
ul.post-list > li > span {
    color: #999;
    display: inline-block;
    float: right;
    font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 12px;
    white-space: nowrap;
}
#blog-archive > h3 {
    color: #999;
    float: left;
}
#blog-archive > ul.post-list {
    margin-bottom: 0;
}
#blog-archive > ul.post-list > li {
    margin-left: 60px;
}

/* Disqus comments */

#disqus_thread {
    border-top: 4px solid #ddd;
}
#dsq-content {
    font-size: 13px !important;
}
#dsq-content #dsq-global-toolbar, #dsq-content ul.dsq-login-buttons, #dsq-content div.dsq-options,
#dsq-content #dsq-comments, #dsq-content #dsq-pagination {
    margin-bottom: 20px !important;
}
div.dsq-tooltip-small {
    width: auto;
}
#dsq-content ul.dsq-login-buttons {
    padding-top: 10px !important;
}
#dsq-comment-count {
    background: url('/resources/comment.png') no-repeat left top;
    padding-left: 20px;
    text-transform: lowercase;
    white-space: nowrap;
}
#dsq-footer a > em {
    text-decoration: none !important;
}
a.dsq-brlink {
    font-size: 13px !important;
}

#footer {
	 border-top: 4px solid #ddd;
}

#followme {
    margin-top: 10px;
}

/* =Mobile Devices
-------------------------------------------------------------- */

@media only screen and (max-device-width: 960px) {

    body > * {
        width: 100%;
    }
    body {
        -webkit-text-size-adjust: none;
        margin: 10px;
    }
    blockquote {
        margin: 0 20px;
    }
    body > header > nav {
        margin: 20px 0 0 -4px;
        position: static;
    }
    body > header > nav > a {
        margin: 0 4px;
    }
    article img {
        height: auto;
        max-width: 100%;
    }
    #like-and-subscribe {
        display: block;
        float: none;
        margin-top: 0;
    }
    #dsq-comment-count {
        background-position: left 1px;
    }
    ul.post-list > li {
        color: #26a;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    ul.post-list > li > span {
        margin-left: 1em;
    }
    #blog-archive > h3 {
        float: none;
        padding: 20px 0;
    }
    #blog-archive > h3:first-child {
        padding-top: 0;
    }
    #blog-archive > ul.post-list > li {
        margin-left: 0;
    }
    img.gravatar {
        height: 100px !important;
        width: 100px !important;
    }
    body > footer br {
        display: none;
    }

}

/* Highlight
 * ================================ */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.highlight { background-color: #f8f8ff; border: 1px solid #ddd; padding: 2px 10px; margin-bottom: 18px; overflow: auto }

ul.social {
  padding-top: 20px;
}
ul.social li {
  background: none;
  float: left;
}
