---
layout: default
title: 存档
permalink: /archive/
keywords:
  - blog
  - archive
---
<ul class="unstyled">
{% for category in site.categories %}
  <li><a data-toggle="collapse" href="#{{ category | first }}" name="{{ category | first }}"><h3>{{ category | first }} {{ category | last | size }}</h3></a>
  <div id="{{ category | first }}" class="collapse">
    <ul>
    {% for post in category.last %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
   </div>
  </li>
{% endfor %}
</ul>
<hr>
{% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
<a data-toggle="collapse" href="#{{ post_year1 }}"><h3>{{ post_year1 }}</h3></a>
<div id="{{ post_year1 }}" class="collapse">
<ul>
{% for post in site.posts %}
{% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
{% if post_year1 != post_year2 %}
{% assign post_year1 = post_year2 %}
</ul>
</div>
<a data-toggle="collapse" href="#{{ post_year1 }}"><h3>{{ post_year1 }}</h3></a>
<div id="{{ post_year1 }}" class="collapse">
<ul>
{% endif %}
<li><time>{{ post.date | date: '%m-%d' }}</time> <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
