---
layout: default
title: 分类
permalink: /category/
---
<div class="wrapper">
<div class="tag-cloud">
{% for category in site.categories %}
<a href="#{{ category | first }}">{{ category | first }}<span>{{ category[1].size }}</span></a> 
{% endfor %}
</div>
{% for category in site.categories %}
<a name="{{ category | first }}"><h2>{{ category | first }}</h2></a>
    <ul  class="postsList">
    {% for post in category.last %}
      <li><span>{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
</div>