---
layout: default
title: ztnote.com
---	
{% for post in site.posts limit:1 %}
<div class="post">
	<div class="post-panel">
		<div class="post-content">
                    {% if post.link %}
<div class="article">
                    {{ post.content }}
</div>
                    <p><a href="{{post.link}}"><blockquote>{{ post.title }}</blockquote></a></p>
                        {% else %}
                        <a href="{{post.url}}"><h2 class="post-title">{{ post.title }}</h2></a>
<div class="article">
    	{{ post.content }}
</div>
                        {% endif %}
		</div>
		<div class="post-meta">
			{% for category in post.categories %}
			<a href="/category#{{ category }}">#{{ category }}</a> 
			{% endfor %}
			<a id="reply" href="https://twitter.com/share?url={{site.url}}{{post.url}}&amp;via=ztpala&amp;text={{post.title}}" target="_blank">Tweet</a>
		</div>
  	</div>
</div>
{% endfor %}
	<ul class="post-list">
		{% for post in site.posts limit: 9 offset:1 %}
		<li><span>{{ post.date | date: '%b %d %Y' }}</span>
		<a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
    <p>&rarr; <a href="/archive/">查看所有{{ site.posts | size }}篇文章</a></p>
