/*!
 * Designed by Tao Zhang
 * http://ztpala.com
 */
html, body {
    background-color: #FFFFFF;
}
footer, header, nav {
    display: block;
}
.nav>a {
    color: #2C3E50;
    font-size: 0.8em;
    margin:  0px 20px 0px 0px;
}
.nav>a:hover {
    color: #34495E;
}
html {
    font-size: 100%;
}
a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
.wrapper p img {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    font-family:'Avenir Next', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #2C3E50;
    font-weight: 400;
}
.header {
	margin: 20px 0 10px 0;
}
a {
    color: #2980B9;
    text-decoration: none;
}
a:hover {
    color: #3498DB;
    text-decoration: none;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

p small, ul small {
    font-size: 0.8em;
    color: #BDC3C7;
}
.lead {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 200;
    line-height: 45px;
}
.tag-cloud {
    font-size: 0.9em;
}
.tag-cloud span{
    vertical-align: super;
    font-size: 0.8em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #2C3E50;
    margin: 0;
}
h1 {
    margin: 20px 0 0 0;
    font-size: 1.6em;
}
h2 {
    font-size: 1.2em;
    line-height:  35px;
    background-color: #F6F9FC;
    text-align: center;
    margin: 10px 0;
}
h2 small {
    font-size: 18px;
}
h3 {
  font-size: 1em;
  line-height:  30px;
  font-weight: bold;
}
h3 small {
    font-size: 0.8em;
}
ul, ol {
    padding: 0;
    margin: 0 0 0px 25px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li {
    line-height: 30px;
}
ul.unstyled {
    margin-left: 0;
    list-style: none;
}
dl {
    margin-bottom: 30px;
}
dt, dd {
    line-height: 30px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 14px;
}

strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
.muted {
    color: #999;
}
abbr {
    font-size: 90%;
    border-bottom: 1px dotted #ddd;
    cursor: help;
}
blockquote {
    padding: 0 0 0 14px;
    margin: 0 0 30px;
    border-left: 5px solid #ECF0F1;
}
blockquote p {
    margin-bottom: 0;
    font-size: 0.9em;
    color:  #7F8C8D;
}
blockquote small {
    display: block;
    color: #999;
}
blockquote small:before {
    content: '\2014 \00A0'}
table {
    border-collapse:collapse;
}
table ,th ,td {
  border: 1px solid #dddddd;
}
table td, table th
{
    padding:5px;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: ""}
address {
    display: block;
    margin-bottom: 30px;
    line-height: 30px;
    font-style: normal;
}
small {
    font-size: 0.9em;
    color:  #7F8C8D;
}
cite {
    font-style: normal;
}
code {
    font-family: Monaco, Menlo, "Courier New", monospace;
    font-size: 0.8em;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
    border-radius: 3px;
    white-space: nowrap;
}
pre code {
    display: block;
    padding: 8px;
    margin: 0 0 30px;
    line-height: 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    overflow: scroll;
    word-break: break-all;
}
.prettyprint.linenums{
    -webkit-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    -moz-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
padding-left: 12px;
color: #bebec5;
line-height: 18px;
text-shadow: 0 1px 0 #fff;
}
.com {
    color: #93a1a1;
}
.lit {
    color: #195f91;
}
.pun, .opn, .clo {
    color: #93a1a1;
}
.fun {
    color: #dc322f;
}
.str, .atv {
    color: #D14;
}
.kwd, .linenums .tag {
    color: #1e347b;
}
.typ, .atn, .dec, .var {
    color: teal;
}
.pln {
    color: #48484c;
}

.pager {
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
    padding: 20px 0px;
    margin: 20px 0 0 0;
    list-style: none;
    text-align: center;
}
.pager:before, .pager:after {
    display: table;
    content: ""}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}

.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}

.label {
    padding: 3px 4px;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
    background-color: #bdc3c7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.tags li {
  margin: 0;
  padding-right: 10px;
  display: inline;
}
.tags a, .meta a {
  color: #bdc3c7;
  font-size: 0.8em;
}
.tags a:hover, .meta a:hover {
  color: #cacfd2;
}
a.label {
    color: #fff;
}
a.label:hover {
    background-color: #cacfd2;
}
a.label-info:hover {
    background-color:#5dade2;
}
a.label-inverse:hover {
    background-color: #415b76;
}
.label-important {
    background-color: #e74c3c;
}
.label-warning {
    background-color: #f1c40f;
}
.label-success {
    background-color: #2ecc71;
}
.label-info {
    background-color: #3498db;
}
.label-inverse {
    background-color: #34495e;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.sitename a{
    font-size: 30px;
    font-weight: normal;
    color:  #2C3E50;
}

.sitename a:hover {
    color: #34495E;
}

.wrapper  {
    background-color:  #fff;
    margin:  0px 0px 20px 0px;
}
.post-date {
    font-size: 0.8em;
    display: block;
    margin: 0 0 10px 0;
    color: #BDC3C7;
}
.postsList {
    margin: 0px 0px 10px 0px;
}

.postsList li{
  list-style: none;
  padding: 5px 0px;
  border-bottom: 1px solid #F9F9F9;
}
.postsList li span{
    color: #BDC3C7;
    float: right;
    font-size: 0.8em;
}

.footer {
    border-top: 1px solid #F4F4F4;
    text-align: center;
}

@media only screen and (max-width:540px) {
    .container {
    width:  auto;
    padding: 20px;
}

.sitename {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.header {
	margin: 10px 0 10px 0;
}

.nav {
	font-size: 14px;
}
.nav>a {
     margin:  0px 10px 0px 0px;
}

.wrapper  {
    background-color:  #fff;
    margin:  10px 0px 20px 0px;
}
}