---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import selfieImage from '../assets/site/selfie.jpeg';
---

<BaseLayout title="About">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">About</h1>
    </header>

    <div class="post-content">
      <Image src={selfieImage} alt="Selfie" width={800} quality="high" />
      
      <p>Tao</p>
      <p>Developer / Photographer</p>
    </div>
  </article>
</BaseLayout>
