---
import { SITE_TITLE } from '../consts';
---

<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="/">{SITE_TITLE}</a>
  </div>
</header>
