<div class="wrapper">
<article>
<h1><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a> <small class="pull-right">{{ page.date | date:"%b %d, %Y" }}</small></h1>
{{ content }}
</article>
<div>
{% for tag in page.tags %}
    <a class="label" href="/tag/#{{ tag }}">{{ tag }}</a>
{% endfor %}

<p><small>觉得本文有用？可以捐杯咖啡给我，多谢：）</small>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="donation">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="ztpala@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHosted">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>

<hr>
<ul class="pager">
    {% if page.previous %}
    <li class="previous">
    <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
    {% endif %} <small>j k 翻页</small>
    {% if page.next %} 
    <li class="next">
    <a href="{{ page.next.url }}" class="pull-right">{{ page.next.title }} &rarr;</a>
    </li>
    {% endif %}   
</ul>
<hr>
<div id="disqus_thread"></div>
</div>
<script type="text/javascript">
    var disqus_shortname = '{{site.disqusShortname}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
