---
layout: default
---
<style type="text/css" media="screen">
  img {
   max-height: 75vh;
   display:block;
   margin-left: auto;
   margin-right: auto;
 }

 .navigation {
  color: gray;
  font-size: 12px;
 }

#post-header h3,
#post-header p {
    display: inline;
    vertical-align: bottom;
}
</style>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

<div class="navigation">
{% assign cat = page.categories[0] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
  {% if post.url == page.url %}
    {% assign pOffset = forloop.index0 | minus: 1 %}
    {% assign nOffset = pOffset | plus: 2 %}
    {% if forloop.last == false %}
      {% assign previous_post = cat_list[nOffset] %}
      <a  href="{{ previous_post.url }}"> Previous</a>
    {% endif %}
    {% if forloop.first == false %}
      {% assign next_post = cat_list[pOffset] %}
      / <a href="{{ next_post.url }}"> Next </a>
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}
</div>

</article>
