---
layout: default
---
<div class="span10">
<a href="{{ site.url }}{{ page.url }}"><h2 class="post-title">{{ page.title }}</h2></a>
</div>
<div class="date">
{{ page.date | date:"%Y-%m-%d" }}
</div>
{{ content }}

<div class="row">
<div class="span7">
{% for tag in page.tags %}
<a href="/tags#{{ tag }}"><span class="label">{{ tag }}</span></a> 
{% endfor %}
</div>

<div class="spam3 offset7" align="right">
<a class="btn small" href="https://twitter.com/share?url={{site.url}}{{page.url}}&amp;via=ztpala&amp;text={{page.title}}" target="_blank">推</a>
<a class="btn small"  href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=3823167979',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','','{{page.title}} 
via @pala','{{site.url}}{{page.url}}','utf-8'));">浪</a> </div>
</div>