---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title } = Astro.props;
const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
